<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Add training</title>
    <link rel="icon" type="image/png" sizes="512x512" href="../../assets/img/123443.png">
    <link rel="icon" type="image/png" sizes="512x512" href="../../assets/img/123443.png">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../../assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">E-Sport</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="trainer-index.html">Home</a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-warning" href="../trainee/trainee-index.html">not a trainer?</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link text-primary" href="add-training.html">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Add New Training</h2>
                    <p>Have some skill ?&nbsp;<br>Add a new traning now and start teaching people!</p>
                </div>
                <form>
                    <div class="form-group"><label for="name">Training name</label><input class="form-control item" type="text" id="name"></div>
                    <div class="form-group"><label>Sport</label><select class="form-control">
                            <option value="0">Sport1</option>
                            <option value="1">Sport2</option>
                        </select></div>
                    <div class="form-group"><label for="name">Description</label><textarea class="form-control"></textarea></div>
                    <div class="form-group"><label for="email">Price</label><input class="form-control" type="number">
                    </div><button class="btn btn-primary btn-block" type="submit">Create Training</button>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2020 E-Sports platform</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="../../assets/js/script.min.js"></script>
</body>

</html>